/* common */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}
.orange-color {
  color: orange;
}
p {
  color: gray;
  transition: 0.3s all ease-out;
}
p:hover {
  transform: scale(0.9);
}
h1 {
  font-size: 60px;
  transition: 0.3s all ease-out;
}
h1:hover {
  transform: scale(0.9);
}
h2,
h3 {
  transition: 0.3s all ease-out;
}
h2:hover {
  transform: scale(0.9);
}
h3:hover {
  transform: scale(0.9);
}
section {
  height: 100vh;
}
.flexible {
  display: flex;
}
.half-width {
  width: 50%;
  margin-left: 5%;
}
.half-width img {
  width: 100%;
  transition: 0.3s all ease-out;
}
.half-width img:hover {
  transform: scale(0.9);
}
.link-btn {
  text-decoration: none;
  color: white;
  background-color: tomato;
  padding: 10px 40px;
  font-weight: 700;
  transition: 0.3s all;
}
.link-btn:hover {
  background-color: black;
  border: 3px solid tomato;
  color: tomato;
}
/* .top-banner {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
} */
.dream-big {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
/* for experience */
.experience {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.font-forty {
  font-size: 40px;
}
#full-stack {
  box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.164);
  width: 40%;
  padding-left: 3%;
  border-left: 7px solid;
  border-image: linear-gradient(rgb(252, 171, 157), tomato);
  border-image-slice: 1;
  transition: 0.3s all ease-out;
}
#full-stack:hover {
  transform: scale(0.9);
}
#baby-dev {
  box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.164);
  width: 40%;
  padding: 0 0 10% 3%;
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
  transition: 0.3s all ease-out;
}
#baby-dev:hover {
  transform: scale(0.9);
}
footer p {
  text-align: center;
}
/* .box {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  padding-left: 3%;
} */
